<nav class="navbar bg-body-tertiary">
  <div class="box-shadow-container opt-user-container">
     <div class="item-flex">
      <button class="btn-rounded btn-color-darkPurple" type="submit" routerLink="/">
        <img src="../../../assets/img/icons/icono-vista-general-cuenta-usuario-experian.svg" alt="icono-de-usuario" >
      </button>
      <p class="secondary-text">Vista general de la cuenta</p>
    </div>
     <div class="item-flex">
      <button class="btn-rounded btn-color-softPurple" type="submit">
        <span class="notificacion"></span>
        <img src="../../../assets/img/icons/icono-editar-informacion-perfil-usuario-experian.svg" alt="icono-lapiz-de-editar" >
      </button>
      <p class="secondary-text">Editar perfil</p>
    </div>
     <div class="item-flex">
      <button class="btn-rounded btn-color-softPurple" type="submit">
        <span class="notificacion"></span>
        <img src="../../../assets/img/icons/icono-cambio-de-contrasenia-usuario-experian.svg" alt="icono-candado-cambio-contrasenia" >
      </button>
      <p class="secondary-text">Cambio de contraseña</p>
    </div>
     <div class="item-flex">
      <button class="btn-rounded btn-color-softPurple" type="submit">
        <span class="notificacion"></span>
        <img src="../../../assets/img/icons/icono-configuracion-notificacion-usuario-experian.svg" alt="icono-campana-configuracion-de-notificacion" >
      </button>
      <p class="secondary-text">Configuración de notificaciones</p>
    </div>

  </div>

</nav>
