<div class="box-shadow-container titulo-vista-general">
  <h2>Vista general de la cuenta</h2>
</div>
<div class="box-shadow-container informacion-container">
  <h3>Información general</h3>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label main-text">Nombre</label>
    <input class="form-control" type="text" placeholder="Carlos" />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label main-text">Apellidos</label>
    <input class="form-control" type="text" placeholder="Monsalve" />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label main-text">Documenmto de identidad</label>
    <input class="form-control" type="text" placeholder="Cédula de ciudadanía" />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label main-text">Número de documento de identidad</label>
    <input class="form-control" type="text" placeholder="100000000" />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label main-text">E-mail</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="@gmail.com" />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label main-text">Numero</label>
    <div class="item-flex">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false" style="width: 30%;">
        +57
      </button>
      <input type="text" maxlength="10" class="form-control" placeholder="3123681164" />
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label main-text">Fecha de nacimiento
    </label>
    <input type="date" class="form-control" value="1986-12-24" />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label main-text">Genero</label>
    <div class="item-flex">
      <button type="button" class="btn btn-outline-secondary ">
        Hombre
      </button>
      <button type="button" class="btn btn-outline-secondary ">
        Mujer
      </button>
    </div>
  </div>
  <button class="btn-pill btn-color-darkPurple" type="submit">
    <span class="main-text">Editar</span>
  </button>
</div>
<div class="box-shadow-container informacion-container">
  <h3>Información financiera</h3>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label main-text">Ocupación</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
      <label class="form-check-label" for="flexRadioDefault1"> Estudiante </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
      <label class="form-check-label" for="flexRadioDefault1"> Empleado </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
      <label class="form-check-label" for="flexRadioDefault1">
        Independiente
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
      <label class="form-check-label" for="flexRadioDefault1"> Pensionado </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
      <label class="form-check-label" for="flexRadioDefault1"> Otro </label>
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label main-text">Nivel de educación</label>
    <select class="form-select" aria-label="Default select example">
      <option selected>Postgrado</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label main-text">Actividad laboral</label>
    <select class="form-select" aria-label="Default select example">
      <option selected>Tecnología</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label main-text">Ingresos promedio mensuales</label>
    <select class="form-select" aria-label="Default select example">
      <option selected>Entre 2'000.001 y 3'000.000</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label main-text">Gastos promedio mensuales</label>
    <select class="form-select" aria-label="Default select example">
      <option selected>Entre 1'500.000 y 2'000.000</option>
    </select>
  </div>
  <button class="btn-pill btn-color-darkPurple" type="submit">
    <span class="main-text">Editar</span>
  </button>
</div>
