<nav class="navbar bg-body-purple">
  <div class="container-fluid">
    <div class="text-header"><span class="text-color-darkPurple">hola</span><span style="font-size: 18px;">Carlos</span></div>

    <div class="d-flex">
      <button class="btn-pill btn-color-darkPurple" type="submit"><span class="main-text">Perfil</span><img src="../../../assets/img/icons/icono-guia-boton-de-perfil-cuenta-usuario-experian.svg" alt="icono-informacion-de-uso-de-datos-usuario" >
      </button>
      <div class="btn-informacion">
        <img class="icono-informacion" src="../../../assets/img/icons/icono-informacion-de-uso-de-datos-usuario-experian.svg" alt="icono-informacion-de-uso-de-datos-usuario" >
        <div class="dialogo-uso-de-datos">Esta información es confidencial y la usaremos para poder brindarte una mejor experiencia</div>
      </div>
    </div>
  </div>
</nav>
<app-user-menu-options-component></app-user-menu-options-component>



